* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    background-color: #f8f8f8;
}

.controle {
    background-color: #ffffff;
    border: 3px solid #dfdfdf;
    box-shadow: 2px 2px 10px black;
    border-radius: 1%;
    width: 430px;
    margin: 20px auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.controle form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controle form label {
    font-size: large;
    width: 35%;
}

.controle form div {
    display: flex;
    margin: 1% 0;
    width: 80%;
}

.controle form input {
    font-size: large;
    float: right;
    width: 70%;
}

form input[type=submit] {
    font-size: large;
    width: 30%;
}

.controle button {
    padding: 2%;
    margin: 2px;
}

.mensagens {
    margin-bottom: 30px;
    padding: 0.5%;
    box-shadow: 2px 2px 10px black;
}

th,
td {
    border: 1px solid black;
    padding: 2px 10px;
}

table {
    border: 3px solid #dfdfdf;
    box-shadow: 2px 2px 10px black;
    border-collapse: collapse;
    margin: 30px auto;
}

thead {
    background-color: #dfdfdf;
}